<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title>Edit <%= deal.name %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="edit-deal">
    <h1>Edit <%= deal.name %></h1>
    <form action="/deal/<%= deal._id %>/?_method=PUT" method="POST">
      <ul>
        <li>
          <label for="name">Deal Name: </label>
          <input type="text" name="name" id="name" value="<%= deal.name %>" />
        </li>

        <li>
          <label for="address">Address:</label>
          <input
            type="text"
            name="address"
            id="address"
            value="<%= deal.address %>"
          />
        </li>

        <li>
            <label for="assetType">Asset Type:</label>
            <input
              type="text"
              name="assetType"
              id="assetType"
              value="<%= deal.assetType %>"
            />
          </li>

        <li>
          <label for="loanAmount">Loan Amount: </label>
          <input
            type="text"
            name="loanAmount"
            id="loanAmount"
            value="<%= deal.loanAmount %>"
          />
        </li>

        <li>
          <label for="stories">Stories: </label>
          <input
            type="number"
            name="stories"
            id="stories"
            value="<%= deal.stories %>"
          />
        </li>

        <li>
          <label for="squareFeet">Building Square Feet: </label>
          <input
            type="string"
            name="squareFeet"
            id="squareFeet"
            value="<%= deal.squareFeet %>"
          />
        </li>

        <li>
          <label for="rateType">Rate Type:</label>
          <select name="rateType" id="rateType" value="<%= deal.rateType %>">
            <option value="Fixed">Fixed</option>
            <option value="Floating Rate (SOFR)">Floating Rate (SOFR)</option>
            <option value="Floating Rate (LIBOR)">Floating Rate (LIBOR)</option>
            <option value="Floating Rate (1-YR Treasury)">
              Floating Rate (1-YR Treasury)
            </option>
            <option value="Floating Rate (5-YR Treasury)">
              Floating Rate (5-YR Treasury)
            </option>
            <option value="Floating Rate (10-YR Treasury)">
              Floating Rate (10-YR Treasury)
            </option>
            <option value="Unknown">Unknown</option>
          </select>
        </li>

        <li>
          <label for="minRate">Minimum Interest Rate (%): </label>
          <input
            type="number"
            name="minRate"
            id="minRate"
            value="<%= deal.minRate %>"
          />
        </li>

        <li>
          <label for="maxRate">Maximum Interest Rate (%): </label>
          <input
            type="number"
            name="maxRate"
            id="maxRate"
            value="<%= deal.maxRate %>"
          />
        </li>
        <li>
            <label for="dealType">Deal Type: </label>
            <select name="dealType" id="dealType">
              <option value="Acquisition" <%= deal.dealType === 'Acquisition' ? 'selected' : '' %>>Acquisition</option>
              <option value="Condo Inventory" <%= deal.dealType === 'Condo Inventory' ? 'selected' : '' %>>Condo Inventory</option>
              <option value="Construction" <%= deal.dealType === 'Construction' ? 'selected' : '' %>>Construction</option>
              <option value="Covered-Land" <%= deal.dealType === 'Covered-Land' ? 'selected' : '' %>>Covered-Land</option>
              <option value="Office-to-Condo Conversion" <%= deal.dealType === 'Office-to-Condo Conversion' ? 'selected' : '' %>>Office-to-Condo</option>
              <option value="Office-to-Multifamily Conversion" <%= deal.dealType === 'Office-to-Multifamily Conversion' ? 'selected' : '' %>>Office-to-Multifamily Conversion</option>
              <option value="Refinance" <%= deal.dealType === 'Refinance' ? 'selected' : '' %>>Refinance</option>
              <option value="TCO" <%= deal.dealType === 'TCO' ? 'selected' : '' %>>TCO</option>
            </select>
          </li>

        <li>
          <label for="recourse">Recourse: </label>
          <select name="recourse" id="recourse">
            <option value="Non-Recourse" <%= deal.dealType === 'Non-Recourse' ? 'selected' : '' %>>Non-Recourse</option>
            <option value="Recourse" <%= deal.dealType === 'Recourse' ? 'selected' : '' %>>Recourse</option>
          </select>
        </li>

        <li>
          <label for="developer">Developer: </label>
          <input
            type="developer"
            name="developer"
            id="developer"
            value="<%= deal.developer %>"
          />
        </li>

        <li>
          <label for="brokerCompany">Broker Company: </label>
          <input
            type="brokerCompany"
            name="brokerCompany"
            id="brokerCompany"
            value="<%= deal.brokerCompany %>"
          />
        </li>

        <li>
            <label for="notes">Notes: </label>
            <textarea type="text" id="notes" name="notes"><%=deal.notes%></textarea>
        </li>

        <li>
          <label for="image">Upload Image: </label>
          <input type="text" id="image" name="image" value="<%=deal.image%>" />
        </li>
      </ul>
      <button type="submit" id="save-button">Save Updated Deal</button>
    </form>
    <form action="/deal/<%= deal._id%>">
        <button type="submit" id="go-back-button">Go Back To <%=deal.name%></button>
      </form>
    </div>
  </body>
</html>
